* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: aqua;
  background: rgb(238, 174, 202);
  background: -moz-radial-gradient(
    circle,
    rgb(125, 45, 79) 0%,
    rgb(111, 169, 234) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgb(233, 93, 154) 0%,
    rgb(100, 166, 241) 100%
  );
  background: radial-gradient(
    circle,
    rgb(177, 85, 198) 0%,
    rgba(55, 119, 193, 0.781) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
.container {
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.frame {
  /* border: 5px solid #000000; */
  width: 488px;
  height: auto;
  padding: 15px 0px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, #080c15, #508cf5); */
  background: linear-gradient(120deg, #00c6ff, #0072ff);
  background: linear-gradient(#843dd5d3, #000000bb, #843dd5d3);
  color: white;
  overflow: auto;
}

.outputss {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  width: 410px;
  background-color: black;
  color: white;
  border: 2px solid #7525d0;
}
.submitss {
  padding: 7px;
  cursor: pointer;
  width: 410px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  border: 2px solid #7525d0;
  background-color: black;
  color: white;
  margin-bottom: 15px;
}
button:hover {
  background-color: #601eab;
  border: 2px solid gray;
}
.text ul {
  position: relative;
  background-color: black;
  text-align: left;
  padding: 10px;
  margin-top: 6px;
  border-radius: 10px;
  width: 410px;
  border: 2px solid #7525d0;
  display: flex;
  align-items: center;
}
.text ul h1 {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: red;
  font-size: larger;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}
img {
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  /* margin-bottom: 50px; */
}

@media only screen and (max-width: 432px) {
  .outputss,
  .submitss,
  .text ul {
    width: 320px;
  }
  .frame{
    margin: 0px 10px 150px 10px ;
  }
}
